#main-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1253px;
  height: 678px;
  background-color: #1c1c1c;
  margin: 50px auto;
  border-radius: 15px;
}

#password-generator-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  margin-left: 70px;
  box-sizing: border-box;
}

#password-content-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

h2 {
  color: #f0f0f0;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin: 20px;
}

span {
  color: #10B981;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: regular;
  margin: 20px;
  color: white;
  font-size: 20px;
  margin-top: 0;
}

#password-length-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 60px 20px 30px;
}

label {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 18px;
}

#password-length-div input {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  width: 50px;
}

#checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  gap: 1px;
}

#checkbox-container label {
  white-space: nowrap;
  margin-left: 1px;
}

#generate-password-button {
  width: 191px;
  height: 42px;
  background-color: #10B981;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  padding: 9px 17px 9px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  box-sizing: border-box;
  text-wrap: wrap;
}

#generate-password-button:hover {
  background-color: #0f9b6b;
  transition: background-color 0.3s ease;
}

#divider {
  border: none;
  border-top: 1px solid #2F3E53;
  margin: 15px auto;
  width: 900px;
}

#generated-passwords-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 550px;
  height: auto;
  margin-top: 40px;
}

/* Password Styles Probably should use display flex in these p elements */
#first-password,
#second-password {
  font-family: 'Inter', sans-serif;
  font-weight: medium;
  font-size: 16px;
  background-color: #273549;
  color: #55F991;
  margin: 0 15px;
  width: auto;
  height: auto;
  text-align: center;
  overflow-wrap: break-word;
  border-radius: 10px;
  padding: 8px 12px;
  display: inline-block;
}

#first-password[hidden],
#second-password[hidden] {
  display: none !important;
}

#copyMessage {
  margin: 40px 14px;
  color: white;
  font-weight: regular;
  display: none;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}